[Desktop Entry]
Name=Zenyte
Comment=Zenyte is the most ambitious server to date
Exec=zenyte
Icon=${SNAP}/meta/gui/runelite.png
Type=Application
Categories=Game;
StartupNotify=false
Keywords=rs;osrs;old;school;runescape;osnr;zenyte;rsps
