[Desktop Entry]
Name=Near-Reality
Comment=Near-Reality is the most ambitious server to date
Exec=near-reality
Icon=${SNAP}/meta/gui/runelite.png
Type=Application
Categories=Game;
StartupNotify=false
Keywords=rs;osrs;old;school;runescape;osnr;near-reality;rsps
